#selectdiv{display:none;margin-top:100px;position:fixed;width:100%;}
#selectdiv table{width:0%;height:100%;margin:auto;}
#selectdiv table td{padding:1px;vertical-align:middle;text-align:center;}
#selectdiv table .div1{width:40px;height:40px;background-color:red;border:1px solid red;border-radius:4px;}
#selectdiv table .div2{width:40px;height:40px;background-color:blue;border:1px solid blue;border-radius:4px;}
#selectdiv table .div3{width:40px;height:40px;background-color:white;border:1px solid blue;border-radius:4px;}
#selectdiv table .div4{width:40px;height:40px;background-color:white;border:1px solid blue;border-radius:4px;}

.enlargeclass {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.enlargeclass:hover {
    -webkit-transform:scale(1.50); /* Safari and Chrome */
    -moz-transform:scale(1.50); /* Firefox */
    -ms-transform:scale(1.50); /* IE 9 */
    -o-transform:scale(1.50); /* Opera */
     transform:scale(1.50);
	 /* width:50% */
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.bookmarkribon{float:right;}
.bookmarkribon a{text-decoration:none !important;}
.bookmarkribonfav{font-size:30px;right:20px;top:110%;position:absolute;}
.bookgray{color:#777777;}
.bookred{color:#d50032;}
/* .bookmarkribonfavie{font-size:30px;right:20px;top:110%;position:absolute;} */
/* .bookmarkribon:after{content: "\e044";font-size:30px;right:20px;top:10%;position:fixed;color:#777777;font-family: 'Glyphicons Halflings';-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;}
 */
.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: #d50032 url(img/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}
.WordSection1{text-align:justify;padding:0 10px;}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 83px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 50px;
    width: 50px;
    right: 14px;
    bottom: 46px;
  }
}

.spin{color:#d50032 !important;float:right;margin:0px 10px 0px 0px; cursor:pointer;}
.spin:hover {
  -webkit-animation: spin 0.1s 4 linear;
  -moz-animation: bounce 0.1s 4 linear;
  -o-animation: spin 0.1s 4 linear;
  animation: spin 0.1s 4 linear;
  /* font-size:24px */
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(-10deg);
  }
  to {
    -moz-transform: rotate(10deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(-10deg);
  }
  to {
    -webkit-transform: rotate(10deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(-10deg);
  }
  to {
    transform: rotate(10deg);
  }
}
.closeb{float: right; color:#fff; background:#777777; padding:6px !important; margin: 10px; border-radius: 18px; width: 28px;}
.closeb:hover{background:#d50032;}
.relateart{overflow:hidden;height:380px;}
.relateart ul li{text-decoration:none;display:block;float:left;border-bottom:1px solid #d50032;width:100%;padding:0 0 0 10px;}
.relateart ul li:hover{color:#0000FF !important;}
.relateart ul li a{color:#000;text-decoration:none;padding:8px 10px 0px;display:block;text-align:justify;line-height:18px;}
.relateart ul li a:hover{color:#0000FF;}
.reltdate{color:#000;float:right;position:relative;right:54px;}
.reltdateart{color:#000;float:right;}
.black_overlay {
	display:none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: #E5E4E2;
	z-index: 1001;
	-moz-opacity: 0.8;
	opacity: 0.75;
	filter: alpha(opacity =   80);
}
.what{font-size:19px;}
.white_content {
	
	display:none;
	position: fixed;
	top: 15%;
	left: 21%;
	width: 59%;
	border-radius:2px;
	padding: 0px;
	
	z-index: 1002;
	overflow:hidden;
}



.sidebar{
      z-index: 999999;
      position: fixed;
      top: 9%;
      bottom: -1px;
      padding:0px;
      width: auto;
      background-color: #777777;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      border: 1px solid #ccc;
      border: 1px solid rgba(0, 0, 0, .15);
      -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
      box-shadow: 0 6px 12px rgba(0, 0, 0, .175);

}

.sidebar h1,h2,h3,h4,h5{color:#000; padding:18px 0px; text-align:center !important; margin:0px !important; font-family:sans-serif !important; font-weight:lighter !important;}


.sidebar > .row > .col-xs-12, .sidebar > .row > .col-sm-12, .sidebar > .row > .col-md-12, .sidebar > .row > .col-lg-12{
      padding:0px;
      position: absolute;
      bottom: 0px;
      top: 0px;
      overflow: auto;           
}

.sidebar >.row{
      margin:0px;
}

.sidebar {
      width: auto;
}
.sidebar.sidebar-left{
      left:0px;
      right:auto;
}

.sidebar.sidebar-right{
      left:0px;
      right:auto;
}

@media (min-width: 400px) {

}
@media (min-width: 528px) {
      .sidebar {
            width: 300px;
      }
	  
      .sidebar.sidebar-left{
            left:0px;
            right:auto;
      }
		.font li a {font-size:19px; padding:15px 20px !important; }
      .sidebar.sidebar-right{
            right:0px;
            left:auto;
      }
}
@media (min-width: 768px) {
      
	  /* .toggler{top: 20% !important;} */
	  .font li a {font-size:19px; padding:15px 20px !important; }
      .nav-w{width:91%;}
	  .sidebar.sidebar-left{
            left:0px;
            right:auto;
      }
		
      
	  .sidebar.sidebar-right{
            right:0px;
            left:auto;}
}
@media (min-width: 970px){
		.nav-w{width:80%;}
		.font li a {font-size:19px; padding:15px 25px !important; }
		
}

@media (min-width: 992px) {
      .sidebar {width: 456px;}
	  .font li a {font-size:19px; padding:15px 45px !important; }
	  .nav-w{width:95%;}
      .sidebar.sidebar-left{
            left:0px;
            right:auto;
      }
		.sidebar.sidebar-right{
            right:0px;
            left:auto;
      }
	  
}
@media (min-width: 1200px) {
      .sidebar {
            width: 425px;
      }
      .sidebar.sidebar-left{
            left:0px;
            right:auto;
      }
		.nav-w{width:80%;}
      .sidebar.sidebar-right{
            right:0px;
            left:auto;
      }
	  
}

@media only screen and (max-width : 768px) {
.nav-w{width:93%;}
.sidebar {
            width: 374px;
			/* top: 7%; */
      }
	 
}

/* @media only screen and (max-width : 992px) {
.sidebar{top:5%;}

} */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { .sidebar{top:5%;}  }

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) { .sidebar{top:9%;}}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 1)  { .sidebar{top:9%;}}

.toggler{
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      border: 1px solid #ccc;
      border: 1px solid rgba(0, 0, 0, .15);
      width: 20px;
      height: 48px;
      position: absolute;
      top: 45%;
      cursor: pointer;
	  background:#d50032;
}
.sidebar-left > .toggler{
      -webkit-border-top-right-radius: 4px;
      -webkit-border-bottom-right-radius: 4px;
      -moz-border-radius-topright: 4px;
      -moz-border-radius-bottomright: 4px;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      border-left: 1px solid #fff;
      -webkit-box-shadow: 1px 0px 8px rgba(0, 0, 0, .175);
      box-shadow: 1px 0px 8px rgba(0, 0, 0, .175);
      right: -20px;
} 

.sidebar-left > .toggler > span{
      margin:15px 2px;
}

.sidebar-left > .toggler > .glyphicon-chevron-right{
      display:none;
}

.sidebar-right > .toggler{
      -webkit-border-top-left-radius: 4px;
      -webkit-border-bottom-left-radius: 4px;
      -moz-border-radius-topleft: 4px;
      -moz-border-radius-bottomleft: 4px;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      border-right: 1px solid #fff;
      -webkit-box-shadow: -1px 0px 8px rgba(0, 0, 0, .175);
      box-shadow: -1px 0px 8px rgba(0, 0, 0, .175);      		
      left: -20px;
} 

.sidebar-right > .toggler > span{
      margin:15px 2px;
}

.sidebar-right > .toggler > .glyphicon-chevron-left{
      display:none;
}

.sidebar .submenu{
      display: none;
      position: fixed;
} 

/*Native BootStrap Hack*/
.sidebar .list-group-item:last-child, .sidebar .list-group-item:first-child{
      border-radius:0px;
}

.sidebar .list-group{
      margin-bottom:0px;
	  background:#84898d;
}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus{background:#d50032 !important;}
.sidebar .list-group a{
    text-decoration:none;
	color:#fff !important;
	line-height:30px;
} 
.list-group a{
    background: url("./img/pink-bullet.png") no-repeat 5px 15px !important;
	padding-left: 15px !important;
	z-index:2000000;
} 
.sidebar .list-group-item{
      padding: 5px;
      border: 1px solid #DDD;
      border-left: 0px;
      border-right: 0px;
      margin-bottom: 0px;
      margin-top: -1px;
	  background:#777777 ;
}